
@facebook: #3b5998 !important;
@linkedin: #0077B5 !important;
@twitter: #55ACEE !important;
@tumblr:#35465c !important;
@reddit: #ff5700 !important;
@pinterest:#bd081c !important;
@googlePlus: #D13E29 !important;
@digg: #000000 !important;
@delicious:#3399ff !important;
@vk:#45668e !important;
@odnoklassniki:#ed812b !important;

// Horizontal
.awe-share{
	a{
		padding:.6em .44em;
		width:3.2em;
		min-height: 3.2em;
		text-align:center;
		display:inline-block;
		// For compatibility with if twitter bootstrap etc. is not avilable
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-decoration: none !important;
		vertical-align: top;
		i{
			display: block;
		}
		span{
			display: block;
			margin-bottom: -.44em;
			&:after{
				content: '.';
				visibility: hidden;
			}
		}
	}
	&.awe-share-pin{
		position:fixed;
		z-index: 9999;
	}
	&.awe-share-pin-left{
		left:0;
	}
	&.awe-share-pin-right{
		right:0;
	}
}
.awe-share-collapse-empty{
	a{
		span{
			&:after{
				content: '';
				display: none;
			}
		}
	}
}
// Vertical
.awe-share-vertical{
	a{
		display:block;
		min-height:3.2em;
	}
}

// Display brand colors as background
.awe-share-brand-bg{
	a{
		color:white !important;

		&.awe-share-brand-facebook{
			background-color:@facebook;
		}
		&.awe-share-brand-google-plus{
			background-color:@googlePlus;
		}
		&.awe-share-brand-reddit{
			background-color:@reddit;
		}
		&.awe-share-brand-twitter{
			background-color:@twitter;
		}
		&.awe-share-brand-tumblr{
			background-color:@tumblr;
		}
		&.awe-share-brand-linkedin{
			background-color:@linkedin;
		}
		&.awe-share-brand-pinterest{
			background-color:@pinterest;
		}
		&.awe-share-brand-digg{
			background-color:@digg;
		}
		&.awe-share-brand-delicious{
			background-color:@delicious;
		}
		&.awe-share-brand-vk{
			background-color:@vk;
		}
		&.awe-share-brand-odnoklassniki{
			background-color:@odnoklassniki;
		}
	}
}

// Display brand colors as foreground
.awe-share-brand-fg{
	a{
		&.awe-share-brand-facebook{
			color:@facebook;
		}
		&.awe-share-brand-google-plus{
			color:@googlePlus;
		}
		&.awe-share-brand-reddit{
			color:@reddit;
		}
		&.awe-share-brand-twitter{
			color:@twitter;
		}
		&.awe-share-brand-tumblr{
			color:@tumblr;
		}
		&.awe-share-brand-linkedin{
			color:@linkedin;
		}
		&.awe-share-brand-pinterest{
			color:@pinterest;
		}
		&.awe-share-brand-digg{
			color:@digg;
		}
		&.awe-share-brand-delicious{
			color:@delicious;
		}
		&.awe-share-brand-vk{
			color:@vk;
		}
		&.awe-share-brand-odnoklassniki{
			color:@odnoklassniki;
		}
	}
}

// Display brand colors as background on hover
.awe-share-brand-bg-hover{
	a{
		&:hover, &:active, &:focus{
			color:white !important;
			&.awe-share-brand-facebook{
				background-color:@facebook;
			}
			&.awe-share-brand-google-plus{
				background-color:@googlePlus;
			}
			&.awe-share-brand-reddit{
				background-color:@reddit;
			}
			&.awe-share-brand-twitter{
				background-color:@twitter;
			}
			&.awe-share-brand-tumblr{
				background-color:@tumblr;
			}
			&.awe-share-brand-linkedin{
				background-color:@linkedin;
			}
			&.awe-share-brand-pinterest{
				background-color:@pinterest;
			}
			&.awe-share-brand-digg{
				background-color:@digg;
			}
			&.awe-share-brand-delicious{
				background-color:@delicious;
			}
			&.awe-share-brand-vk{
				background-color:@vk;
			}
			&.awe-share-brand-odnoklassniki{
				background-color:@odnoklassniki;
			}
		}
	}
}

// Display brand colors as foreground on hover
.awe-share-brand-fg-hover{
	a{
		&:hover, &:active, &:focus{
			background-color:transparent;
			&.awe-share-brand-facebook{
				color:@facebook;
			}
			&.awe-share-brand-google-plus{
				color:@googlePlus;
			}
			&.awe-share-brand-reddit{
				color:@reddit;
			}
			&.awe-share-brand-twitter{
				color:@twitter;
			}
			&.awe-share-brand-tumblr{
				color:@tumblr;
			}
			&.awe-share-brand-linkedin{
				color:@linkedin;
			}
			&.awe-share-brand-pinterest{
				color:@pinterest;
			}
			&.awe-share-brand-digg{
				color:@digg;
			}
			&.awe-share-brand-delicious{
				color:@delicious;
			}
			&.awe-share-brand-vk{
				color:@vk;
			}
			&.awe-share-brand-odnoklassniki{
				color:@odnoklassniki;
			}
		}
	}
}