
@facebook: #3b5998;
@googlePlus: #D13E29;

// Horizontal
.awe-share{
	a{
		padding:.2em;
		width:2em;
		height:2em;
		text-align:center;
		display:inline-block;
	}
}

// Vertical
.awe-share-vertical{
	a{
		display:block;
	}
}

// Display brand colors as background
.awe-share-brand-bg{

}

// Display brand colors as background on hover
.awe-share-brand-bg-hover{

}

// Display brand colors as foreground
.awe-share-brand-fg{

}

// Display brand colors as foreground on hover
.awe-share-brand-fg-hover{

}