
@facebook: #3b5998;
@linkedin: #0077B5;
@twitter: #55ACEE;
@tumblr:#35465c;
@reddit: #ff5700;
@pinterest:#bd081c;
@googlePlus: #D13E29;
@digg: #000000;
@delicious:#3399ff;

// Horizontal
.awe-share{
	a{
		padding:.6em .4em;
		width:2.3em;
		height:2em;
		text-align:center;
		display:inline-block;
	}
}

// Vertical
.awe-share-vertical{
	a{
		display:block;
	}
}

// Display brand colors as background
.awe-share-brand-bg{
	a{
		color:white;
	}
	.awe-share-brand-facebook{
		background-color:@facebook;
	}
	.awe-share-brand-google-plus{
		background-color:@googlePlus;
	}
		.awe-share-brand-reddit{
		background-color:@reddit;
	}
	.awe-share-brand-twitter{
		background-color:@twitter;
	}
	.awe-share-brand-tumblr{
		background-color:@tumblr;
	}
	.awe-share-brand-linkedin{
		background-color:@linkedin;
	}
	.awe-share-brand-pinterest{
		background-color:@pinterest;
	}
	.awe-share-brand-digg{
		background-color:@digg;
	}
	.awe-share-brand-delicious{
		background-color:@delicious;
	}
}

// Display brand colors as background on hover
.awe-share-brand-bg-hover{

}

// Display brand colors as foreground
.awe-share-brand-fg{

}

// Display brand colors as foreground on hover
.awe-share-brand-fg-hover{

}